---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Lora:400,700,400italic,700italic|Exo:500,600,700,800,900,800italic,700italic,600italic,500italic);
@import url(http://weloveiconfonts.com/api/?family=entypo);

// Our variables
$font-family-sans-serif: "Lato", Verdana, Helvetica, sans-serif;
$font-family-serif: "Lora", Georgia, serif;

$font-size-base:   18px;
$line-height-base: 1.5;
$font-size-small: ceil(($font-size-base * 0.55));

$text-color:       #444;
$brand-color:      #9d261d;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color: $brand-color;

$headings-font-weight: 600;

$container-desktop: 750px;
$container-large-desktop: 750px;

@import "bootstrap";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.container {
  flex: 1;
}
.top {
  align-self: flex-start;
}
.center {
  align-self: flex-start;
}

footer {
  text-align: center;
}


.icon {
  font-family: "entypo";
}

