@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Lora:400,700,400italic,700italic|Exo:500,600,700,800,900,800italic,700italic,600italic,500italic);


@import "compass_twitter_bootstrap";

@import url(http://weloveiconfonts.com/api/?family=entypo);

@mixin content-box {
  background-color: rgba(255,255,255,0.8);
  @include box-shadow(0 0 30px rgba(0,0,0, 0.25));
}

body {
  background-image: url(../images/fabric_plaid.png);
}


.centered-text {
  text-align: center;
}
.right-text {
  text-align: right;
}




h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
  font-size: 1.3em;
  line-height: 1.1;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1;
}

h4,h5,h6 {
  font-size: 1em;
  line-height: 1.1;
}

.copyright {
  @include font-sans-serif(13px);
  color: $grayLight;
}

.footer-profile {
  margin-top: 80px;
  margin-bottom: 80px;
  @include font-sans-serif();
  font-weight: bold;
}
