@import "main";
// @import "compass_twitter_bootstrap_responsive";

body {
  background-color: rgba(255,255,255,0.8);
  background-image: none;
}

.container {
  margin-top: 40px;
}

h1 {
  a {
    color: $textColor;
  }
  a, a:hover {
    text-decoration: none;
  }
}

.sidebar {
  // color: $grayLight;
  margin-right: 70px;

  .links {
    margin-top: 50px;

    h3 {
      line-height: 1.5;
    }
  }
}



.posts {

  .tags {
    font-size: 0.9em;
    strong {

    }
  }

}





