@import "main";

$offset: $navbarHeight + 20px;

body {
  section {
    padding-top: $offset;
    // margin-bottom: $offset * -1;
  }
}

.container {
  padding: 0 80px;
  @include content-box();
}

.project {
  h3 {
    cursor: pointer;
  }
  .details {
    .description {

    }

    .url {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

.tags {
  line-height: 26px;
}

.navbar .brand {
  float: right;
  padding-right: 0px;
}

.nav-main {
  @include font-sans-serif(18px);
}

ul.inline{
  > li {
    display: inline-block;
  }
}

.accounts {
  font: 2em/1.9em 'entypo', sans-serif;
  li {
    padding: 0 10px;
  }
  a {
    color: $grayDark;
    &:hover {
      text-decoration:none;
    }
  }

}

span{
  &.framework{
    background-color: $green;
  }
  &.technology{
    background-color: $orange;
  }
  &.api{
    background-color: $purple;
  }
  &.responsibility{
    background-color: $blue;
  }
}
