---
layout: default
title: Niels Hoffmann
---

<section class="content__section" id="home">
  <img class="content__portrait" src="{{site.baseurl}}/assets/2020_Portrait.jpg" width="250px" alt="Niels Hoffmann" />
  <p>Hi there! My name is Niels Hoffmann. I am a software engineer living in Berlin, Germany.</p>
  <p>I cofounded <a href="https://askhelmut.com">ASK HELMUT</a>, the curated event discovery platform and am a founding member of digital toy builders <a href="http://yatatoy.com">YATATOY</a> and many other things which you can read about in <a href="{{site.baseurl}}/assets/2020_Niels_Hoffmann_CV.pdf">my CV</a>.</p>
  <p> I like to break down complex problems into understandable units to create high quality software with a focus on clean and maintainable code. My experience has taught me that knowledge sharing through pair programming and code reviews, automation and continuous integration are half the way to building and running successful development teams. The rest of the way are building great relationships, integrity and not shying away from hard conversations.</p>
  <p>When I am not doing things in front of a computer, I like to go sailing and play science fiction infused Krautrock with <a href="https://einseinseins.bandcamp.com">Einseinseins</a>.</p>
</section>

<section class="content__section" id="projects">
  <h2>Projects</h2>

  {% for project in site.projects reversed %}
    <article class="project">
      <h3 class="project__title">
        {{ project.title }}
      </h3>
      <div class="project__media">
        {% if project.image %}
          <img class="project__image" src="{{site.baseurl}}/assets/{{project.image}}" width="300px" alt="Image of {{project.title}}">
        {% endif %}
        {% if project.vimeo_video_id %}
          <iframe src="https://player.vimeo.com/video/{{project.vimeo_video_id}}?title=0&amp;byline=0&amp;portrait=0" width="300" height="169" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen title="{{project.title}}"></iframe>
        {% endif %}
      </div>
      <ul class="project__facts">
        <li class="project__fact" >{{ project.type }}</li>
        <li>{{ project.date | date: "%b %Y" }}</li>
      </ul>
      <p class="project__content">
        {{ project.content | markdownify }}
      </p>
      {% if project.external_url %}
        <a href="{{project.external_url}}" class="project__external-button">View project</a>
      {% endif %}
    </article>
  {% endfor %}
</section>

<section class="content__section" id="posts">
  <h2>Posts</h2>
  <ul class="content__link-list">
  {% for post in site.posts %}
    <li class="content__link-list-element">
      <span class="content__date">{{ post.date | date_to_string }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
</section>

<section class="content__section" id="contact">
  <h2>Contact</h2>
  <p>Don't hesitate to send me an email at <a href="mailto:niels@zentralmaschine.net"  title="Write an email!">niels@zentralmaschine.net</a>.</p>
  <p>Take a look at <a href="{{site.baseurl}}/assets/2020_Niels_Hoffmann_CV.pdf">my CV</a>. You can also find me on
  <a href="https://twitter.com/zentralmaschine" title="Follow on twitter">Twitter</a>,
  <a href="https://github.com/nhoffmann" title="Github">Github</a> or
  <a href="https://www.linkedin.com/in/nielsphoffmann" title="LinkedIn">LinkedIn</a>.
  </p>
</section>
