.article {
  @include bottom-border;
  padding-bottom: 80px;
}

.article__header {
  margin-bottom: 40px;
}

.article__title {
  margin-bottom: 4px;
}

.article__date {
  color: $grey-color;
}

.post-contact {
  @include bottom-border;
}
