body {
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 200;
}

a {
  color: $link-color;

  text-decoration: none;

  transition: color 250ms ease;

  &:hover {
    color: $link-color-hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: $headings-font-size;
  font-weight: $headings-font-weight;
}

.site {
  margin: 40px auto 80px;

  max-width: 700px;
}
