.header {
  display: flex;
  align-items: flex-end;
  font-weight: $headings-font-weight;

  margin-bottom: 60px;
}

.header__title {
  color: $text-color;

  display: inline;
  margin: 0 25px 0 0;
  line-height: 1.3;
}

.header__nav-list {
  list-style: none;
  display: inline;

  margin: 0;
  padding: 0;
}

.header__nav-element {
  display: inline;

  padding-right: 10px;
}

.header__nav-link {
  color: $nav-link-color;

  &:hover {
    color: $text-color;
  }
}

@media (max-width: 480px) {
  .header {
    display: block;
  }

  .header__title {
    margin-bottom: 20px;
  }
}
