body {
  font-size: 18px;
  line-height: 1.6;
  /*font-family:  verdana, helvetica-neue, helvetica, arial, san-serif;*/
  padding: 0;
  margin: 0;
  background: #111;
  color: #EEE;
}

header {
  
}

footer {
  
}

#main {
  color: #333;
  background: #fff;
  width: 100%;
  padding: 0.5em 0 4em 0;
}

.content {
  width: 800px;
  margin: 0 auto;
}