<!DOCTYPE html>
<!--

                                                   `-:++ooooo+/-`
                                               `-+osssssssssssssys/.
                                            `:+sssssssssssssssssyhsso:.
                                         `-+ssssssssssssssssssosyysosso/.
                                        -+syyyosssssssssssssssosyysssssso:`
                                      `/ssosyhssssssssssssssssssyyosssssss+.
                                     `ssssssyhsossssssssssssssssyyosssssssss-
                                    .sssssssshyosssssssssssssssshyossssssssss`
                                   .oyosssssshyosssssssssssssssshyosssssssssy/
                                  .+yosssssssyhssssssssssssssssyhyosssssssssss
                                 `:ysssssssssyhssssssssssssssssyhyossssssssssy`
                                 .oyossssssssshyossssssssssssssyhsossssssssssh`
                                 :yssssssssssshyossssssssssssssyhsossssssssssh.
                                .+yossssssssssyhossssssssssssssyyssssssssssssh.
                                -osossssssssssyhsssssssssssssosyyssssssssssssh.
                                :ssossssssssssyhsssssssssssssosyyssssssssssssh.
                                /sssssssssssssshssssssssssssssyyyosssssssssssh.
                               `/yssssssssssssshysssssssssssssyysosssssssssssh`
                               `+yssssssssssssshysssssssssssssyyssssssssssssyh`
                               `+ysssssssssssssyhsssssssssssssyysssssssssssyhy
                                /ssssssssssssssyhsssssssssssssyyssssssssssyyhs
                                /ssssssssssssssshsssssssssssssyysssssssssyyyho
                                :ssosssssssssssshyssssssssssssyysssssssssyyyh/
                                -ososssssssssssshyssssssssssosyyssssssssyyyyh:
                                .+yosssssssssssoyhssssssssssoyhysssssssyyyyhh.
                                `/yssssssssssssoyhssssssssssoyhyssssssyyyyyyy`
                                 :ssossssssssssoshssssssssssoyhyssssssyyyyyys
                                 .+yosssssssssssshysssssssssoyhyossssyyyyyyy+
                                 `:yosssssssssssshysssssssssoyhyosssyyyyyyyy:
                                  -ssossssssssssohysssssssssoyysosssyyyyyyhy-
                                  `/yossssssssssoyyssssssssssssssssyhyyyyyys`
                                   .ssssssssssssoyysssssssssssssssyhyyyyyyyo
                                   `/yosssssssssssssssssssssssssssyhyyyyyhy/
                                    .ssssssssssssssssssssssssssssyhyyyyyyhs-
                                     :ysssssssssssssssssssssssssyyyyyyyyyho`
                                      ssssssssssssssssssssssssssyhyhyyyyhy+
                                      .ssssssssssssssssssssssssyyhyyyyyyyy+-.`
                                    ``-sysssssssssssssssssssssssyyysssssssssso+:.`
                                 `.:+osshyssssssssssssssssssssssssssssssssssssssso/-.
                              `.://::/ossysssssssssssssssssssssssssssssssssssssssssso/-`                                                                                  ````..``
                            .://:----:osssssssssssssssssssssssssssssssssssssssssssssssso-`                                                                           `.-://////////:.
                          .++:------:+ssssssssssssssssssssssssssssssssssssssssssssssssssyo-`                                                                     `.:/+//:----------/+:`
                       `-+yo-------:osssssssssssssssssssssssssssssssssssssssssssssssssssssy+-`                                                               `.:/+/:-----------------+:`
                      .+ssso:---:/+osssssssssssssssssssssssssssssssssssssssssssssssssssssssss/.                                                           `-/+/:---------------------:+-
                    `/ssssss+//+oosssssssssssssssssssssssssssssssssssssssssssssssssssssssssssso-                                                       `-///:-------------------------+:
                   -osssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss:                                                   `-/+/:----------------------------+/
                  /yyssssssssssssssssssssssssyhyshysssssssssssssssssssssssssssssssssssssssssssssy/                                                `:+/:-------------------------------+/
                `odooyssssssssssssssssssssoydh-  sdysssssssssssssssssssssssssssssssssssssssssssssy/`                                           `-++:----------------------------------+/
               .sm+`:sysssssssssssssssssssydd/  `hdysssssssssssssssssssssssssssssssssssyssssssssssy:`                                        `:+/:---------------------------------:::+:
              -smd``syssssssssssssssssssosdNh:`.sNdyssssssssssssssssssssssssssssyyysssooooossyyysssy:`                                     `://:-----------------------------::/++++/+o:
             .odmd+ydyssssssssssssssssssoymNmdydNNhsosssssssssssssssssssssssssyyso+++++++++++++oyysss-  ``.---`                          `:+/----------------------------:/++++/::--.//.
            .+hdNNNmysosssssssssssssssssshmNmNNNNmyssssssssssssssssssssssssyys+++++++++++++++++++oyyyo//++ooos.                        `-+/---------------------------:+o++/:--------+:
            /shmNNmhssssssssssssssssssssoymNNmNNmysssssssssssssssssssssssyys+++++++++++++++++++++oshyo++++++so.                      `-++-------------------------:/oo+:------------:/-
           -osydmmyssssssssssssssssssssssshmNmmdysssssssssssssssssssssssyyo++++++++++++++++++osssso+++++++ooy-`                     ./+:-----------------------:+++/:---------------o:`
           /ssssssssssssssssssssssssssssssssyyyssssssssssssssssssssssssyyo+++++++++++++++++osso+++++++++oooy/`                    `:/:----------------------:+o+/:-----------------/+.
           +sssssssyyssssssyssssssssssssssssssssssssssssssssssssssssssyyo++++++++++++++++osoo++++++++++oooso`                    .//:--------------------:/++/:--------------------o:`
           +sssssssyyyyyyyyyyyyyysssssssssssssssssssssssssssssssssssoyyo+++++++++++++++++++++++++++++ooooso`                    :+:-------------------:/o+/:---------------------./+`
           :ossyhdddddddddddddddddddddhhhhhyyysssssssssssssssssssssssho+++++++++++++++++++++++++++++ooooso`                   .++-------------------/+o/:-------------------------o.
           `:oyhdddddddddddddddddddddddddddddddddhhhhyyysssssssssssoyy++++++++++++++++++++++++++++++osss+.                  `-+/-----------------:+o+:---------------------------+:`
             .+ydddddddddddddddddddddddddddddddddddddddddddhyyysssssho+++++++++++++++++++++++++++++++osso+/:-.``           `:+:----------------/+o/:----------------------------/o`
              `-+yhddddddddddddddddddddddddddddddddddddddhyysyyyyyyyh+++++++++++++++++++++++++++++++++++++++o++//-.`      .:+:--------------:/++/------------------------------:o.
                `.+yhddddddddddddddddddddddddddhdddddddyssssssssssshy++++++++++++++++++++++++++++++++++++++++++++ooo+:.` ./+--------------:+o+:-------------------------------:+:
                   ./oyhhdddddddddddddddddddddddhdddhyssssssssssssshs++++++++++++++++++++++++++++++++++++++++++++++++oo+/+/-------------:+o/---------------------------------:+/
                     `./shhddddddddddddddddddddddddyssssssssssssssshs++++++++++++++++++++++++++++++++++++++++++++++++++sy+------------/+o/----------------------------------:+/`
                        -syyhddddddddhdddddddddddhssssssssssssssssshs++++++++++++++++++++++++++++++++++++++++++++++oossy+-----------/++/------------------------------------//`
                        `/s+osyhddddhdhdddddddddysssssssssssssssssshy++++++++++++++++++++++++++++++++++++++ooooossyyyyss/:--------/++/-------------------------------------+/.
                         .+o/++oyyhdhddddddddddysssssssssssssssssssyy++++++++++++++++++++++++++++++++oooooossyyyyyssssyys+/:----:oo/--------------------------------------+/.
                          `+so+osyhdhddddddddhssssssssssssssssssssssho++++++++++++++++++++++++++++++yyssyyyyysssssssssssyys+/::+o:---------------------------------------+/.
                            +sossyhdddddddddyo+++++++++++ooosssssssshs++++++++++++++++++++++++++++++yhyyysssssssssssssssssyyooyo:---------------------------------------+/`
                             :oysshdhddddddy+///////////////++osssssyho+++++++++++++++++++++++++++++yysssssssssssssssssssssyhyo/+//::----------------------------------++`
                              .oosddhdddddho///////////////////+osssyhyo+++++++++++++oss+++++++++++oyssssssssssssssssssssssssys+++++///::-----------------------------++`
                              -/oydddhdddho//////////////////////osho:oso++++++++++++osyys++++++++/oysssssssssssssssssssssssssyy+/+++++++///::----------------------:+/
                             `+/sdddddddds+/////////////////////+sy/---+so++++++ooooooooosyys+++++/syssssssssssssssssssssssssssyy++++++++++++++////::::------------:+:
                             :+/sdddddddho////////////////////+os+----:/oyysooooooooooooosyyyyyo+++yyssssssssssssssssssssssssssohs+++++++++++++++++++++++/////////++-
                             `+/+yddddhdh+/////////////////+oso/----:/++++osyssooooooosshysssssyysshssssssssssssssssssssssssssssshs+/++++++++++++++++++++++++++/+o/.
                              `:++ohddddh+/////////////++ooo+:---::/+++++++++osyyyssyyyyssssssssssysssssssssssssssssssssssssssssoshs++++++++++++++++++++++++++/+o:`
                                .:+++ohdds+++++++++ooooo+/:---:://++++++++++++shhyyysssssssssssssssssssssssssssssssssssssssssssssoyhyssoo+++++++++++++/+++++++s+.
                                  `-/+/://++oooo+++/::----:://+++++//++++++++o+syyyssssssssssssssssssssssssssssssssssssssssssssssssys++oosssssssssssssssssssyy:`
                                     `-oso/::-------::://///+/++++oossso++++++/+hhsssssssssssssssssssssssssssssssssssssssssssssssssyyo/++++++++++++++++++++o+`
                                    `-+sssssssssooooooooooosssyyysoo+++++++++/oyysssssssssssssssssssssssssssssssssssssssssssssssssoyys++++++++++++++++//+o+-`
                                ``-/ossssssssssssssyyyhhhhhhhhhhhs+++++++++++syyssssssssssssssssssssssyyysssssssssssssssssssssssssssys+/+++++++++++++/+o+:`
                             `.:+ossssssssssssssssssyyyyyyyyyyyyyhyo++++++++yyssssssssssssssssssssssyyyhhhyyysssssssssssssssssssssssyy+/+++++++++++/+o+-`
                           ./osssssssssssssssssssssyyyyyyyyyyyyys+../oo+/+oyyssssssssssssssssssssssyyhhhhyyyyyyyssssssssssssssssssssyy+/++++++//++oo+-`
                         `/yssyyyssssyysssssssssyyyyyyyyyyyyys+-`    `:+oyyssssssssssssssssssssssyyhddhhyhyyhhhyysssssssssssssssssssyyo++++++++o+/:.
                         -ysshysssyyyyssssssssyyyyyyyyyyyyo/-.`       `-oysssssssssssssssssssssyyyhhysyyyyyhhhhhyysssssssssssssssssoyo---::::--.`
                         .osyysosyysssssssssyyyyyyyyyso/:.`          `/sssssssssssssssssssssssyyhhs++++++ooo/-:shyysssssssssssssssssy+`
                          `-+oosyysssssssyyyyyyso+/:.``             .osssssyysssssssssssssssyyhddhssys+//-.`   -ohyysssssssssssssssss/
                             `..-://+++///:--..`                  `-sssssyhyssssyyyssssssyyhhdhhyyhy+-`         .ohyysssssssssssssoss:
                                                                 `/yssssyysssssyhysssssyyhddhhyyys/.             .+hyyssssssssssssoyo.
                                                                 .ssoosyyssssshyssssyyhhhhhyyso/-`                .+hyyssyysssssssss:`
                                                                 `-ossyysossshyssyyss+++++/:-.`                    .+hyysyysosshsoy+.
                                                                   `.-/++++++++++/-.`                               `ohyyhysosshsso-
                                                                                                                     `syyhhsosshy+.
                                                                                                                       :+sssoo+:`
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>zentralmaschine</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/main.css">
  <script>
    var _gaq=[['_setAccount','UA-21359556-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</head>
<body>
  <div class="container">
  {{ content }}
  </div>
</body>
</html>
