---
layout: default
---

<article class="article">
  <header class="article__header">
    <h1 class="article__title">{{ page.title }}</h1>
    <small class="article__date">{{page.date | date: "%e %b %Y"}}</small>
  </header>

  <section>
    {{ content }}
  </section>
</article>

<section class="post-contact">
  <p>I am Niels Hoffmann, software developer, music afficionade, sailor.<br>Take a look at <a href="{{site.baseurl}}/assets/2020_Niels_Hoffmann_CV.pdf">my CV</a> and check out my <a href="/#projects">projects.</a><br>You can follow me on Twitter at <a href="">@zentralmaschine</a>, get in touch via email to <a mailto="niels@zentralmaschine.net">niels@zentralmaschine.net</a> and find me on <a href="https://github.com/nhoffmann">Github</a> or
  <a href="https://www.linkedin.com/in/nielsphoffmann">LinkedIn</a>.</p>
</section>
